<a href="https://colab.research.google.com/github/marcelob2007/CienciaDeDados/blob/main/Aula_04_DesafioE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Alinemm/DMIE-2020.1/master/DesafioA-cursos-prouni-pb-jpa.csv')

In [ ]:
df.head(3)

In [ ]:
#valor média das instituições da PB
df.mensalidade.mean()

In [ ]:
#valor mediana das instituições da PB
df.mensalidade.median()

In [ ]:
#desvio padrao das instituições da PB
df.mensalidade.std()

In [ ]:
#moda das instituições da PB
df.mensalidade.mode()

---------

Desafio B

In [ ]:
df.columns

In [ ]:
#A
type(df)

In [ ]:
#B
df.shape

In [ ]:
#C
df.universidade_nome.nunique()

In [ ]:
#D
df.nome.nunique()

In [ ]:
#E
df.universidade_nome[(df.nome=='Ciência da Computação') | (df.nome=='Ciências da Computação')].unique()

In [ ]:
#F
df.mensalidade[(df.nome=='Ciência da Computação') | (df.nome=='Ciências da Computação')].mean()

---

Desafio C

In [ ]:
#Desafio C - Detecção de outliers
df.isna().mean()

In [ ]:
#Estratégia 1
print("média da mensalidade: ",df.mensalidade.mean())
print("mediana da mensalidade: ",df.mensalidade.median())

print("\nmédia da nota_integral_ampla: ",df.nota_integral_ampla.mean())
print("mediana da nota_integral_ampla: ",df.nota_integral_ampla.median())

print("\nmédia da nota_integral_cotas: ",df.nota_integral_cotas.mean())
print("mediana da nota_integral_cotas: ",df.nota_integral_cotas.median())

In [ ]:
#Estratégia 2
print("desvio padrão da mensalidade: ",df.mensalidade.std())
print("\ndesvio padrão da nota_integral_ampla: ",df.nota_integral_ampla.std())
print("\ndesvio padrão da nota_integral_cotas: ",df.nota_integral_cotas.std())

In [ ]:
#Estratégia 3
from scipy import stats
import numpy as np

df['zscore_mensalidade'] = np.abs(stats.zscore(df.mensalidade))
df['zscore_nota_integral_ampla'] = np.abs(stats.zscore(df.nota_integral_ampla))
df['zscore_nota_integral_cotas'] = np.abs(stats.zscore(df.nota_integral_cotas))

In [ ]:
df.zscore_mensalidade[(df.zscore_mensalidade> 3) | (df.zscore_mensalidade <-3)].count()

In [ ]:
df.zscore_nota_integral_ampla[(df.zscore_nota_integral_ampla> 3) | (df.zscore_nota_integral_ampla <-3)].count()

In [ ]:
df.zscore_nota_integral_cotas[(df.zscore_nota_integral_cotas> 3) | (df.zscore_nota_integral_cotas <-3)].count()

In [ ]:
#Estratégia 4 - Boxplot

import seaborn as sns
import matplotlib.pyplot as plt

sns.boxplot(data=df.mensalidade)

In [ ]:
sns.boxplot(data=df.nota_integral_ampla)

In [ ]:
sns.boxplot(data=df.nota_integral_cotas)

Tratando os outliers

In [ ]:
#Estratégia 1
df_semOutliers1 = df[(df.zscore_mensalidade<3) & (df.zscore_mensalidade> -3)]

In [ ]:
#Estratégia 2
df_semOutliers2 =  df
df_semOutliers2.mensalidade = np.where((df_semOutliers2.zscore_mensalidade>3) | (df_semOutliers2.zscore_mensalidade<-3), 
                                       df_semOutliers2.mensalidade.mean(), 
                                       df_semOutliers2.mensalidade)

In [ ]:
#Estratégia 3
df_semOutliers3 = df
df_semOutliers3 = df_semOutliers3[df_semOutliers3.mensalidade.between(df.mensalidade.quantile(.25), df.mensalidade.quantile(.75))]
print(df_semOutliers3.shape)
print(max(df_semOutliers3.mensalidade))

In [ ]:
print(df.shape)
print(max(df.mensalidade))



---

Desafio E

In [12]:
#Descubra quais colunas são textuais e que seriam interessantes serem transformadas em numéricas
df.grau

0      Bacharelado
1      Bacharelado
2      Bacharelado
3      Bacharelado
4      Bacharelado
          ...
355    Bacharelado
356    Bacharelado
357    Bacharelado
358    Bacharelado
359    Bacharelado
Name: grau, Length: 360, dtype: object

In [13]:
# Para transformar uma variável qualitativa em quantitativa(do tipo dummy), use pd.get_dummies
df = pd.get_dummies(df.grau)

In [16]:
df.head()

   Bacharelado  Licenciatura  Tecnológico
0            1             0            0
1            1             0            0
2            1             0            0
3            1             0            0
4            1             0            0